.control-button {
  width: 160px;
  background-color: black;
  border: 2px solid rgb(61, 224, 61);
  cursor: pointer;
  font-size: 1rem;
  outline: none;
  padding: 4px;
}
.control-button:hover {
  background-color: rgb(61, 224, 61);
  color: black;
}

.perspective-400 {
  perspective: 400px;
}

.preserve-3d {
  transform-style: preserve-3d;
}

.container-full-screen {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
}

.cockpit-view {
  color: rgb(61, 224, 61);
  transition: transform 0.5s ease;
  font-size: 1rem;
  font-family: "tomorrow", sans-serif;
}

.face {
  width: 50vh;
  height: 50vh;
  position: absolute;
}

.test {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  font-size: 2rem;
  background: grey;
  border: 8px solid black;
  opacity: 0.5;
}
