.screen-container {
  top: 2vh;
}

.screen-top {
  width: 78vh;
  height: 45vh;
  background: transparent;
  border: 8px solid rgb(0, 0, 0);
  border-bottom: 0;
  transform: translateY(-5vh) translateZ(49vh) rotateX(-71deg);
}

.screen-middle {
  width: 78vh;
  height: 78vh;
  background: transparent;
  border: 8px solid rgb(0, 0, 0);
  border-top: 0;
  border-bottom: 0;
  transform: translateY(19.5vh) translateZ(9vh) rotateX(-30deg);
}

.screen-mini {
  transform: translateZ(2vh) rotateX(25deg);
}
.middle {
  width: 80vh;
  height: 65vh;
  transform: translateY(2.7vh) translateZ(-8vh) rotateX(7deg);
  background-image: none;
}

.left {
  width: 60vh;
  height: 65vh;
  transform: translateX(-48.5vh) translateY(4.6vh) translateZ(13vh)
    rotateX(25deg) rotateY(45deg) rotateZ(-25deg);
}

.right {
  width: 60vh;
  height: 65vh;
  transform: translateX(48.5vh) translateY(4.6vh) translateZ(13vh)
    rotateX(25deg) rotateY(-45deg) rotateZ(25deg);
}

.console-top {
  width: 26vh;
  height: 28vh;
  transform: translateY(16.5vh) translateZ(2.4vh) rotateX(60deg);
}

.console-front {
  width: 26vh;
  height: 20vh;
  transform: translateY(37vh) translateZ(13vh) rotateX(-10deg);
}

.screen-beam {
  width: 2vh;
  height: 100%;
  position: absolute;
  background-size: 100% 100%;
}

.screen-beam-right {
  right: 0;
  transform: rotateY(-45deg);
}

.screen-beam-left {
  left: 0;
  transform: rotateY(45deg);
}

.screen-beam-top {
  height: 76vh;
  top: -38vh;
  left: 36.75vh;
  transform: rotateZ(90deg);
}

.bottom {
  width: 66vh;
  height: 35vh;
  transform: translateY(44vh) translateZ(0vh) rotateX(60deg);
  border: 10vh solid rgb(0, 0, 0);
  border-top: none;
  background-color: rgb(32, 32, 32);
}
