.face.screen-top {
  top: -36vh;
  width: 40vh;
  height: 25vh;
  transform: translateY(-5vh) translateZ(36vh) rotateX(-71deg);
}

.face.middle-red {
  width: 112vh;
  height: 91vh;
  transform: translateY(-12vh) translateZ(2vh) rotateX(7deg);
}

.face.right-red {
  width: 60vh;
  height: 65vh;
  transform: translateX(44.5vh) translateY(18vh) translateZ(13vh) rotateX(7deg);
}

.face.left-red {
  width: 60vh;
  height: 65vh;
  transform: translateX(-44.5vh) translateY(18vh) translateZ(13vh) rotateX(7deg);
}

.face.right-outer-red {
  width: 20vh;
  height: 40vh;
  transform: translateX(73vh) translateY(28vh) translateZ(21vh) rotateX(10deg)
    rotateY(-55deg) rotateZ(0deg);
}

.face.left-outer-red {
  width: 20vh;
  height: 40vh;
  transform: translateX(-73vh) translateY(28vh) translateZ(21vh) rotateX(10deg)
    rotateY(55deg) rotateZ(0deg);
}

.face.bottom-red {
  width: 74vh;
  height: 13vh;
  transform: translateY(58vh) translateZ(12vh) rotateX(60deg);
}
