#custom-cursor-hide-cursor * {
  cursor: none !important;
}

.custom-cursor {
  position: fixed;
  width: 24px;
  height: 24px;
  border: 2px solid rgb(0, 255, 255);
  border-radius: 100%;
  margin-left: -12px;
  margin-top: -12px;
  z-index: 1001;
}

.custom-cursor-dot {
  position: relative;
  top: 6px;
  left: 6px;
  width: 8px;
  height: 8px;
  background-color: rgb(0, 255, 255);
  border-radius: 100%;
}
