#custom-cursor-hide-cursor * {
  cursor: none;
}

.custom-cursor {
  position: fixed;
  width: 22px;
  height: 22px;
  border: 2px solid rgb(0, 255, 255);
  border-radius: 100%;
  transform: translate(-50%, -50%);
  /*
  -webkit-transition-duration: 100ms;
  transition-duration: 100ms;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  */
  z-index: 999;
  pointer-events: none;
}

.custom-cursor-dot {
  position: relative;
  top: 6px;
  left: 6px;
  width: 7px;
  height: 7px;
  background-color: rgb(0, 255, 255);
  border-radius: 100%;
}
