#custom-cursor-hide-cursor * {
  cursor: none !important;
}

.custom-cursor {
  position: fixed;
  width: 22px;
  height: 22px;
  border: 2px solid rgb(0, 255, 255);
  border-radius: 100%;
  transform: translate(-50%, -50%);
  z-index: 1001;
}

.custom-cursor-dot {
  position: relative;
  top: 6px;
  left: 6px;
  width: 7px;
  height: 7px;
  background-color: rgb(0, 255, 255);
  border-radius: 100%;
}
