.flight-hud-target-info-hidden {
  background-color: transparent !important;
  border: none !important;
}

.flight-hud-target-info-hidden .target-info-label {
  opacity: 0.5 !important;
}

.flight-hud-target-info-hidden .target-info-detail {
  display: none !important;
}
