@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "tomorrow";
  src: local("tomorrow"),
    url("../assets/fonts/tomorrow/Tomorrow-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "14SegmentLED";
  src: local("14SegmentLED"),
    url("../assets/fonts/14SegmentLED.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "395equalizer2";
  src: local("395equalizer2"),
    url("../assets/fonts/395equalizer2.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "ARCADE";
  src: local("ARCADE"), url("../assets/fonts/ARCADE.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "audiowide";
  src: local("audiowide"),
    url("../assets/fonts/Audiowide-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CyberAlert";
  src: local("CyberAlert"),
    url("../assets/fonts/CyberAlert.otf") format("opentype");
  font-style: normal;
}

@font-face {
  font-family: "DS-DIGIT";
  src: local("DS-DIGIT"), url("../assets/fonts/DS-DIGIB.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Minisystem";
  src: local("Minisystem"),
    url("../assets/fonts/Minisystem.otf") format("opentype");
  font-style: normal;
}

@font-face {
  font-family: "Mesopitav";
  src: local("Mesopitav"),
    url("../assets/fonts/Mesopitav.ttf") format("truetype");
  font-style: normal;
}
/*
@font-face {
  font-family: "MIASMA";
  src: local("MIASMA"), url("../assets/fonts/MIASMA.ttf") format("truetype");
  font-style: normal;
}
*/
@font-face {
  font-family: "Linebeam";
  src: local("Linebeam"), url("../assets/fonts/Linebeam.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Lunar-Escape";
  src: local("Lunar-Escape"),
    url("../assets/fonts/Lunar-Escape.otf") format("opentype");
  font-style: normal;
}

@font-face {
  font-family: "OXYGENE1";
  src: local("OXYGENE1"), url("../assets/fonts/OXYGENE1.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "quadaptor";
  src: local("quadaptor"),
    url("../assets/fonts/Quadaptor.otf") format("opentype");
  font-style: normal;
}

@font-face {
  font-family: "VT323-Regular";
  src: local("VT323-Regular"),
    url("../assets/fonts/VT323-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "zerovelo";
  src: local("zerovelo"), url("../assets/fonts/zerovelo.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: black; /*lightblue;*/
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
}

body {
  position: fixed;
  overflow: hidden;
  overscroll-behavior-y: none;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  color: black;
  cursor: move !important;
}

h1 {
  font-family: audiowide;
  font-size: 3rem;
  color: lightblue;
  /*text-align: center;*/
}

h2 {
  font-family: audiowide;
  font-size: 1.1rem;
  color: lightblue;
  /*text-align: center;*/
}

.lil-gui {
  left: 0px;
}

input,
button,
.toggleContainer,
.slidecontainer {
  pointer-events: auto !important;
  margin: 2%;
  padding: 2%;
  line-height: 25px;
  width: 60%;
  background-color: black;
  border-color: lightblue;
  color: lightblue;
  border-radius: 5px;
}

.floatLeft {
  float: left;
}
.floatRight {
  float: right;
}
